@media(max-width: 1920px) {

    /* ШАКПКА */

    .header {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 11;
        background-color: white;
    }

    .header-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .site-icon {
        width: 30px;
        height: 30px;
    }

    .header-logo {
        font-family: Outfit;
        font-size: 24px;
        font-weight: 700;
        line-height: 100%;
        text-align: left;
        padding-bottom: 3px;
    }

    .sertch {
        max-width: 700px;
        width: 100%;
        display: flex;
        border-radius: 10px;
        background-color: #F5F5F5;
        margin: 0 5px 0 10px;
    }

    .sertch-input {
        max-width: 670px;
        width: 100%;
        background: none;
        border: none;
        padding: 0 10px;
        font-family: Outfit;
        font-size: 14px;
        outline: none;
    }

    .sertch-button {
        background: none;
        border: none;
    }

    .sertch-button-icon {
        width: 30px;
        height: 30px;
        padding-top: 4px;
    }

    .header-list {
        display: flex;
    }

    .header-list-li-shop {
        background: none;
        border: none;
        padding: 0 5px;
    }

    .header-list-li-shop:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .header-list-li-shop-icon {
        padding-top: 7px;
        width: 25px;
        height: 25px;
    }

    .header-list-li-user {
        padding: 0 5px;
        background: none;
        border: none;
    }

    .header-list-li-user:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .header-list-li-user-icon {
        padding-top: 3px;
        width: 30px;
        height: 30px;
    }

    /* ТЕКСТ С КАРИТНКОЙ HEADER*/

    .header-photo {
        margin-top: 65px;
        width: 100%;
        height: 912px;
        background-image: url("../image/main/header-photo.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

    }

    .header-photo-div {
        padding-top: 300px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .header-photo-div-text {
        padding: 10px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-photo-lozung {
        font-family: gteestiprodisplay;
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 2px;
        color: rgb(0, 0, 0);
    }

    .header-photo-discription {
        padding-top: 20px;
        font-family: gteestiprodisplay;
        font-size: 20px;
        font-weight: 100;
        line-height: 100%;
        letter-spacing: 1px;
        color: black;
        padding-bottom: 20px;
    }

    .header-photo-button {
        padding: 10px 30px;
        background: black;
        border: 1px solid black;
        color: white;
        font-size: 18px;
        font-family: Nunito;
        transition: 0.7s;
    }

    .header-photo-button:hover {
        background: rgba(255, 255, 255, 0);
        color: black;
    }


    /* КАТАЛОГ */

    .section-catalog {
        padding: 10px;
        margin-top: 5px;
    }

    .section-catalog-div {
        max-width: 1200px;
        margin: 0 auto;
    }

    .catalog-ul {
        display: flex;
        justify-content: space-between;
    }

    .catalog-li-a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catalog-li-a:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .catalog-li-photo {
        width: 40px;
        height: 40px;
    }

    .catalog-li-text {
        padding-top: 5px;
        font-family: Nunito, sans-serif;
        font-size: 15px;
        font-weight: 370;
    }

    /* НОВИНКИ */

    /* СЛАЙДЕР */

    .section-new {
        padding: 10px;
    }

    .header-new {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .new-text {
        padding-left: 10px;
        padding-top: 6px;
        letter-spacing: 5px;
        font-family: Outfit;
        font-weight: 700;
    }

    .new-text:hover{ 
        color: grey;
        transition: 0.7s;
    }

    .div-slider-new {
        display: flex;
        gap: 20px;
    }

    .button-slider-all {
        border: none;
        background: none;
    }

    .slider {
        width: 40px;
        height: 40px;
    }

    /* ТОВАРЫ */


    .new-div {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
    }

    .new-items {
        display: flex;
        gap: 20px;
        transition: transform 0.8s ease-in-out;
        padding: 5px 10px 20px 10px;
    }

    .new-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .new-list:hover {
        transform: scale(1.015);
        transition: 0.7s;
        box-shadow: 5px 5px 15px grey;
    }

    .new-photo {
        width: 350px;
        height: 350px;
    }

    .new-items-text {
        cursor: default;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .new-name {
        font-family: GraphikLCG;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 120%;
        padding: 0 10px;
    }

    .new-description {
        margin-top: 5px;
        letter-spacing: 2px;
        font-family: Loro;
        font-weight: 200;
        font-size: 20px;
        line-height: 100%;
        padding: 0 10px;
        color: rgb(97, 97, 97);
    }

    .new-price {
        margin-top: 20px;
        padding: 0 10px;
        font-family: gteestiprodisplay;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .li-icon-shop {
        width: 25px;
        height: 25px;
        margin-top: -25px;
        margin-right: 20px;
        align-self: flex-end;
        opacity: 0;
        transition: 0.7s;
        cursor: pointer;
        background-color: rgb(31, 31, 31);
        padding: 7px;
        border-radius: 50%;
    }

    .new-list:hover .li-icon-shop {
        opacity: 1;
    }

    /* ХИТЫ */

    /* СЛАЙДЕР */

    .section-xite {
        padding: 10px;
    }

    .header-xite {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .xite-text {
        padding-left: 10px;
        padding-top: 6px;
        letter-spacing: 5px;
        font-family: Outfit;
        font-weight: 700;
    }

    .xite-text:hover{ 
        color: grey;
        transition: 0.7s;
    }

    .div-slider-xite {
        display: flex;
        gap: 20px;
    }

    .button-slider-all {
        border: none;
        background: none;
    }

    .slider {
        width: 40px;
        height: 40px;
    }

    /* ТОВАРЫ */


    .xite-div {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
    }

    .xite-items {
        display: flex;
        gap: 20px;
        transition: transform 0.8s ease-in-out;
        padding: 5px 10px 20px 10px;
    }

    .xite-list:hover {
        transform: scale(1.015);
        transition: 0.7s;
        box-shadow: 5px 5px 15px grey;
    }

    .xite-photo {
        width: 350px;
        height: 350px;
    }

    .xite-items-text {
        cursor: default;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .xite-name {
        font-family: GraphikLCG;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 120%;
        padding: 0 10px;
    }

    .xite-description {
        margin-top: 5px;
        letter-spacing: 2px;
        font-family: Loro;
        font-weight: 200;
        font-size: 20px;
        line-height: 100%;
        padding: 0 10px;
        color: rgb(97, 97, 97);
    }

    .xite-price {
        margin-top: 20px;
        padding: 0 10px;
        font-family: gteestiprodisplay;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .li-icon-shop {
        width: 25px;
        height: 25px;
        margin-top: -25px;
        margin-right: 20px;
        align-self: flex-end;
        opacity: 0;
        transition: 0.7s;
        cursor: pointer;
        background-color: rgb(31, 31, 31);
        padding: 7px;
        border-radius: 50%;
    }

    .xite-list:hover .li-icon-shop {
        opacity: 1;
    }

    /* ТОВАРЫ SERI */

    /* HEADER SERI */

    .section-seri {
        padding: 10px;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .seri-baner {
        box-sizing: border-box;
        height: 500px;
        width: 100%;
        background-image: url("../image/main/seri.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .seri-link{
        letter-spacing: 5px;
        font-family: Outfit;
        font-weight: 700;
        color: black;
    }

    .seri-link:hover{
        color: grey;
        transition: 0.7s;
    }

    .seri-text {
        letter-spacing: 5px;
        font-family: Outfit;
        font-weight: 700;
        padding-left: 10px;
        padding-bottom: 8px;
    }

    /* ТОВАРЫ SERI */

    .seri-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-width: 1200px;
        margin-top: -100px;
    }

    .seri-product-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
    }

    .seri-button {
        background: none;
        border: none;
    }

    .seri-button {
        background: none;
        border: none;
        height: 50px;
    }

    .seri-image {
        height: 50px;
        width: 50px;
    }

    .seri-product-ul {
        display: flex;
        gap: 20px;
        width: 100%;
        transition: transform 0.8s ease-in-out;
        padding: 5px 0 20px 10px;
    }

    .seri-pdocuct-li {
        width: 100%;
    }

    .seri-pdocuct-li:hover {
        transform: scale(1.015);
        transition: 0.7s;
        box-shadow: 5px 5px 15px grey;
    }

    .seri-photo {
        width: 250px;
        height: 250px;
    }

    .seri-items-text {
        cursor: default;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    .seri-name {
        font-family: GraphikLCG;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 120%;
        padding: 0 10px;
    }

    .seri-description {
        margin-top: 5px;
        letter-spacing: 2px;
        font-family: Loro;
        font-weight: 200;
        font-size: 18px;
        line-height: 100%;
        padding: 0 10px;
        color: rgb(97, 97, 97);
    }

    .seri-price {
        margin-top: 20px;
        padding: 0 10px;
        font-family: gteestiprodisplay;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .li-icon-shop {
        width: 25px;
        height: 25px;
        margin-top: -25px;
        margin-right: 20px;
        align-self: flex-end;
        opacity: 0;
        transition: 0.7s;
        cursor: pointer;
        background-color: rgb(31, 31, 31);
        padding: 7px;
        border-radius: 50%;
    }

    .seri-pdocuct-li:hover .li-icon-shop {
        opacity: 1;
    }

}

@media(max-width: 1368px) {

    /* ТЕКСТ С КАРИТНКОЙ HEADER */

    .header-photo {
        height: 700px;
    }

    .header-photo-div {
        padding-top: 190px;
    }

    .header-photo-lozung {
        font-size: 35px;
    }

    .header-photo-discription {
        font-size: 18px;
    }

    .header-photo-button {
        font-size: 16px;
    }
}

        /* МЕДИА 1225PX */

@media (max-width: 1225px) {
    
    /* ABSOLUT SERI */

    .seri-product { 
        margin-top: -100px;
    }

    .seri-product-list{ 
        padding: 0 30px;
    }

    .section-seri-div{ 
        max-width: 1000px;
    }
    
}

        /* МЕДИА 1000PX */

@media(max-width: 1000px) {

    /* НОВЫЕ ТОВАРЫ */

    .section-new {
        padding: 0 10px 5px 10px;
    }

    .div-slider-new {
        display: none;
    }

    .div-slider-new::-webkit-scrollbar {
        display: none;
    }

    .new-items {
        overflow-x: scroll;
        scrollbar-color: #c5c5c5 white;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .new-photo {
        width: 250px;
        height: 250px;
    }

    .new-name {
        font-size: 20px;
    }

    .new-description {
        font-size: 18px;
    }

    .new-price {
        font-size: 18px;
    }

    .li-icon-shop {
        width: 20px;
        height: 20px;
        padding: 5px;
    }

    .new-list:hover {
        transform: none;
        transition: none;
        box-shadow: none;
    }

    /* ХИТЫ ТОВАРОВ */

    .section-xite {
        padding: 10px 10px 5px 10px;
    }

    .div-slider-xite {
        display: none;
    }

    .div-slider-xite::-webkit-scrollbar {
        display: none; 
    }


    .xite-items {
        overflow-x: scroll;
        scrollbar-color: #c5c5c5 white;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .xite-photo {
        width: 250px;
        height: 250px;
    }

    .xite-name {
        font-size: 20px;
    }

    .xite-description {
        font-size: 18px;
    }

    .xite-price {
        font-size: 18px;
    }

    .xite-list:hover {
        transform: none;
        transition: none;
        box-shadow: none;
    }

    /* ТОВАРЫ SERI */

    .section-seri {
        padding: 10px 10px 5px 10px;
    }

    .seri-product {
        margin-top: -110px;
    }

    .seri-button {
        display: none;
    }

    .seri-product-ul::-webkit-scrollbar {
        display: none;
    }

    .seri-product-ul {
        overflow-x: scroll;
        scrollbar-color: #c5c5c5 white;
        -webkit-overflow-scrolling: touch;
    }
}

        /* МЕДИА 768PX */

@media(max-width: 768px) {

    /* КАТАЛОГ */

    .catalog-ul {
        gap: 25px;
        overflow-x: scroll;
        scrollbar-color: #c5c5c5 white;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .goods-list:hover {
        transform: none;
    }

    /* ТЕКСТ С КАРИТНКОЙ HEADER */

    .header-photo {
        height: 500px;
    }

    .header-photo-div {
        padding-top: 80px;
    }

    .header-photo-div-text {
        max-width: 400px;
    }

    .header-photo-lozung {
        font-size: 30px;
    }

    .header-photo-discription {
        font-size: 16px;
    }

    .header-photo-button {
        font-size: 14px;
    }

    /* SECTION SERI */

    .section-seri{ 
        padding: 20px 0;
    }

    .seri-baner{
        height: 400px;
    }

    .seri-product {
        margin-top: -100px;
    }
}

        /* МЕДИА 500PX */

@media(max-width: 500px) {

    .catalog-li-photo {
        width: 33px;
        height: 33px;
    }

    .catalog-li-text {
        font-size: 13px;
        font-weight: 400;
    }

    /* ТЕКСТ С КАРИТНКОЙ HEADER */

    .header-photo {
        height: 500px;
    }

    .header-photo {
        background-image: url("../image/main/header-photo-tel.png");
    }

    .header-photo-div-text {
        max-width: 300px;
    }

    .header-photo-div {
        padding-top: 85px;
    }

    .header-photo-lozung {
        font-size: 24px;
    }

    .header-photo-discription {
        font-size: 14px;
        padding: 10px 0;
    }

    .header-photo-button {
        font-size: 12px;
    }

        /* SECTION SERI */

    .seri-product{
        margin-top: -70px;
    }

    .seri-baner{
        height: 300px;
    }

    .seri-photo{
        width: 170px;
        height: 170px;
    }

    .seri-name{
        font-size: 18px;
    }

    .seri-description{
        font-size: 16px;
    }

}